<!DOCTYPE html>
<html>

<head>
    <title>Editar Tarefa</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <h1>Editar Pet</h1>

        <form action="/pet/<%= id_animal %>/editar" method="POST" style="display: inline_block;">
            <div class="login-wrap p-5 p-md-5">
                <div class="d-flex">
                    <div class="w-100">
                        <h3 class="mb-2">Cadastrar um pet</h3>
                    </div>
                </div>

                <form action="/cadastrarPet" class="signin-form" method="POST">
                    <div class="form-group mb-0">
                        <label class="label" for="nome">Nome</label>
                        <input type="text" class="form-control" placeholder="Digite aqui..." name="nome" required />
                    </div>

                    <div class="form-group mb-0">
                        <label class="label" for="raca">Raça</label>
                        <input type="text" class="form-control" placeholder="Digite aqui..." name="raca" required />
                    </div>
                    <div class="form-group mb-0">
                        <label class="label" for="tamanho">Tamanho</label>
                        <input type="text" class="form-control" placeholder="Digite aqui..." name="tamanho" required />
                    </div>

                    <div class="form-group mb-0">
                        <label class="label" for="peso">Peso</label>
                        <input type="text" class="form-control" placeholder="Digite aqui..." name="peso" required />
                    </div>

                    <div class="form-group mb-0">
                        <label class="label" for="caracteristicas">Caracteristicas</label>
                        <input type="text" class="form-control" placeholder="Digite aqui..." name="caracteristicas"
                            required />
                    </div>

                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-sm btn-secondary" style="background-color: #000;">
                            Editar
                        </button>
                    </div>
                </form>


            </div>
        </form>


</body>

</html>