<html>

<head>
    <!-- Seus cabeçalhos e estilos aqui -->
</head>

<body>
    <h1>Editar Pet</h1>
    <form method="POST" action="/pets/edit/<%= pet.id_animal %>">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" value="<%= pet.nome %>"><br>

        <!-- Outros campos de edição -->

        <input type="submit" value="Salvar">
    </form>
</body>

</html>