<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Perfil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
    <link rel="stylesheet" href="./style/bootstrap.css" />
    <link rel="stylesheet" href="./css/home.css">
</head>

<body>
    <nav>
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/pets">Pets</a></li>
            <li><a href="/cadastrarPet">Cadastrar</a></li>
            <li><a href="/perfil">Perfil</a></li>
        </ul>
    </nav>

    <section class="h-100 gradient-custom-2">
        <div class="py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-10 col-lg-8 col-xl-9">
                    <div class="card">
                        <div class="rounded-top text-white d-flex flex-row bg-info" style="height: 200px">
                            <div class="col-2" style="display: flex">

                                <h3 id="titulo" class="align-items-center">
                                    ㅤㅤㅤㅤㅤㅤㅤ ♥ perfil ♥
                                </h3>
                                <hr>

                            </div>
                        </div>
                        <% users.forEach(function(user) { %>
                            <div class="p-4 text-b lack" style="background-color: #f8f9fa">
                                <p>
                                    <%= user.nome %>
                                </p>
                                <p>
                                    <%= user.email %>
                                </p>
                                <form action="/logout">
                                    <input type="submit" value="sair"
                                        class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split"
                                        style="background-color: #86d2cf; color: #000;">
                                </form>
                            </div>
                            <% }) %>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>