nav img{
    width: 25vh; 
    margin-left: 3vw;
}

@media only screen and (min-width: 769px){      /*desktop*/

    .navbar-nav{
        margin-left: 59vw;
    }

    .nav-item{
        margin-left: 1vw;
    }

    div.container.text-center{
        margin-left: 43.85vw;
        margin-top: 20vh;
    }

    #conteudos{
        margin-top: 27vh;
    }

    #conteudos div.container.text-center{
        height: 73vh;
    }
    
    button.btn.btn-primary{
        margin-top: 8vh;
        margin-left: 5vw;
        width: 40vw;
    }
}

/**//**/

@media only screen and (max-width: 768px){      /*cll*/
    
    /*button.navbar-toggler.collapsed{
       nav 
    }*/

    span.navbar-toggler-icon{
        /*background-color: #4180AB;*/
    }/*arrumar*/

    #comoAjudamos-imgCats{
        display: none;
    }

    #conteudos div.container.text-center h3{
        margin-left: 0;
    }
 
    

}

/**/

#sobre{
    border: none;
}

#sobre h3{
    margin-bottom: 3vh;
    color: #4180AB;
}

/**/
div.container.text-center h3{
    text-align: center;
}

div.card-body1{
    width: 38vw;
    margin-left: 12vw;
    font-size: 1.2rem;
    font-weight: 600;
}

div.container.text-center{
    position: relative;
    background-color: #8AB3CF;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
}

#conteudos div.container.text-center h3{
    text-align: center;
}

div.container.text-center img{
    width: 20vh;
}

div.container.text-center h3{
    margin-bottom: 3vh;
    color: #176585;
    margin-top: 4vh;
    text-align: initial;
    font-weight: 600;
}

div.container.text-center p{
    margin-bottom: 1vh;
}

/**/
#comoAjudamos-imgCats img{
    width: 700px;
    float: left;
    display: inline;
    margin-top: 12vh;
}

/**/

#conteudos div.col{
    color: #000;
}

button.btn.btn-primary{
    border-radius: 0;
    position: relative;
    background-color: #176585;
    height: 10vh;
    font-size: 1.3rem;
    text-decoration: underline;
}


/*
footer{
    background-color: #260D33;
    height: 26vh;
}*/



footer p{
    float: right;
    color: #fff;
}

footer img{
    width: 5vw;
    margin-bottom: 7vh;
}

/* Blog css */

nav img{
    width: 25vh; 
    margin-left: 3vw;
}

@media only screen and (min-width: 769px){      /*desktop*/

    .navbar-nav{
        margin-left: 63vw;
    }

    .nav-item{
        margin-left: 1vw;
    }

    div.container.text-center{
        margin-left: 43.85vw;
        margin-top: 20vh;
    }
    #sobre{
      margin-top: 20vh;
    }

    #comoAjudamos{
      margin-left: 2.5vw;
    }

    #conteudos{
        margin-top: 27vh;
    }

    #conteudos div.container.text-center{
        height: 73vh;
    }
    
    button.btn.btn-primary{
        margin-top: 8vh;
        margin-left: 5vw;
        width: 40vw;
    }
}

@media only screen and (max-width: 768px){
    
    /*button.navbar-toggler.collapsed{
       nav 
    }*/

    span.navbar-toggler-icon{
        /*background-color: #4180AB;*/
    }/*arrumar*/

    #comoAjudamos-imgCats{
        display: none;
    }

    #conteudos div.container.text-center h3{
        margin-left: 0;
    }
 
}